*.tgz
*.tar
*.tar.gz
*.tar.bz2
*.tbz2
.*.swp
*.bak
*.backup
*.log
scripts
kubernetes_bin
cni_bin
etcd_bin
ceph_conf/ceph.bootstrap-mds.keyring
ceph_conf/ceph.bootstrap-mgr.keyring
ceph_conf/ceph.bootstrap-osd.keyring
ceph_conf/ceph.bootstrap-rgw.keyring
ceph_conf/ceph.client.admin.keyring
!ceph_conf/ceph.conf
ceph_conf/ceph.mon.keyring
ceph_conf/monmap

