[Unit]
Description=Kubernetes Kube-Proxy Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=network.target

[Service]
ExecStart=/opt/kubernetes/scripts/start_kube-proxy.sh
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
