[Unit]
Description=Kubernetes Kubelet Server
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/opt/kubernetes/scripts/start_kubelet.sh
Restart=on-failure
KillMode=process

[Install]
WantedBy=multi-user.target
