[Unit]
Description=Kubernetes Scheduler Plugin
Documentation=https://github.com/GoogleCloudPlatform/kubernetes

[Service]
User=kube
ExecStart=/opt/kubernetes/scripts/start_kube-scheduler.sh
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target
